
html,
body {
    height: 100%;
  
}

/*menu*/

.menu {
    position: fixed;
    background-color: white;
    width:100%;
    margin:0;
    text-transform:uppercase;
    z-index: 999
    
}
.menu > ul {
    
    padding: 0;
    margin: 0;
     text-align: center;
}
.menu > ul > li {
    display:inline-block;
    padding:15px 3%;  
}


li:hover {
    background-color: #78e87c;  
    transition-property:background-color;
    transition-duration:1s;
   
}

a:link {
    color: black;
    text-decoration: none;  
}

li > a:visited {
  color:black;
   text-decoration: none;   
}

li > a:hover {
  color: white;
  text-decoration: none;  
}


.hamMenu {
    display: none;
}


/* cover */

#cover {
    background: #222 url('img/topImage.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    
   
}

#cover-caption {
    width:100%;
}

img {
    max-width: 100%;
}

.section-content {
    
    padding: 5rem 0;
    
}

/*news*/

#news {
   
    padding: 0;
    
}

#news .first{
    text-align: right;
}

#news .seconf{
    text-align: left;
}


#news > p {
    padding: 70px;
    margin:0;
    text-align: center;
}

/* Travel */
#travel {
    background: #222 url('img/girlTravel.jpg') center bottom no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#cover-travel {
    width:100%;
}

/*About*/

#about {
     z-index: 1;
    margin:110px auto; 
}
 
.textBox {
    padding:3% 5%;  
}

.textBox > p{
    font-size:1rem;
    margin-top: 3%;
}

.row.line:nth-child(odd) {

}
hr{
    margin: 4% 0;
}


#discover {
    background: #222 url('img/fire.jpg') center bottom no-repeat;
    background-size: cover;
    color: white; 
    margin: 0;
    border-top:1px solid black;   
}

.discoverTitle {
    color:white;
    font-size:4rem;
    font-weight: 300;
    margin-bottom: 50px;   
}
#discover p {
    text-align: center;
    font-size: 0.9rem;
}
#discover h3 {
    text-align: center;
    
}
.box {
    background: rgba(0,0,0,0.8);
    color:white;
}


.foot {
    margin-bottom: 50px;
}




@media only screen and (max-width: 768px){
    
    .menu ul {
        display: none;
        }
    .hamMenu {
        display: block;
        padding: 10px;
    }

    .menu  img {
        width:30px;
        margin:0 1%;
    }
   
}

