
html,
body {
    height: 100%;
}

/* cover */

#cover {
    background: #222 url('img/topImage.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    
    transition: transform 0.5s ease-in;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    -moz-transition: -moz-transform 0.5s ease-in;
    -o-transition: -o-transform 0.5s ease-in;
}

#cover-caption {
    width:100%;
}

img {
    max-width: 100%;
}

.section-content {
    
    padding: 5rem 0;
    
}

.menu {
    position: fixed;
    background-color: white;
    width:100%;
    margin:0
}
#news {
    margin:0 15%;
    padding: 0;
     z-index: 111111;
    
}

#news .first{
    text-align: right;
}
#news .seconf{
    text-align: left;
}


#news > p {
    padding: 70px;
    margin:0;
    text-align: center;
}

#discover {
    background: #222 url('img/fire.jpg') center bottom no-repeat;
    background-size: cover;
    color: white; 
    margin: 0;
    border-top:2px solid black;
    
    
   
}

.discoverTitle {
    color:white;
    font-size:4rem;
    font-weight: 300;
    margin-bottom: 50px;   
}
#discover p {
    text-align: center;
    font-size: 0.9rem;
}
#discover h3 {
    text-align: center;
    
}
.box {
     background: rgba(0,0,0,0.8);
    color:white;
}

#about {
     z-index: 1;
    margin:70px auto;
}
 
.textBox {
    padding:5%;  
}

.row.line {
 margin-bottom:7%;
}

/*
.about-text {
    background: rgba(0,0,0,0.4);
    color:white;
    padding:1.875rem;
}
*/

.colorBack {
    height:100%;
    width:400px;
    position: absolute;
    top:100px;
    z-index: 999;
    background-color: coral;
}